<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Expense</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-icon name="swap-vertical-outline" slot="start"></ion-icon>
            <ion-select placeholder="Name (A-Z)" interface="popover" formControlName="sort">
              <ion-select-option value="Created at (newest first)">Created at (newest first)</ion-select-option>
              <ion-select-option value="Created at (oldest first)">Created at (oldest first)</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-icon name="pricetag-outline" slot="start"></ion-icon>
            <ion-select placeholder="Category"></ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-icon name="search" slot="start"></ion-icon>
            <ion-label>Search</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab solt="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item>
      <ion-label>Auswärts Essen</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
