<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col>
      <ion-list>
        <ion-item>
          <ion-icon name="swap-vertical-outline"></ion-icon>
          <ion-select placeholder="Created at (newest first)">
            <ion-select-option value="Created at (newest first)">Created at (newest first)</ion-select-option>
            <ion-select-option value="Created at (oldest first)">Created at (oldest first)</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      </ion-col>
      <ion-col>
        <ion-searchbar></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
