<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="close-outline" slot="start"></ion-icon>
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Edit category</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="save" slot="start"></ion-icon>
      <ion-button (click)="cancel()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-icon name="text-outline" slot="start"></ion-icon>
    <ion-input placeholder="Your name"></ion-input>
  </ion-item>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button color="danger" (click)="presentActionSheet() >Open<">
    <ion-icon name=trash-outline></ion-icon>
  </ion-fab-button>
  <code *ngIf="result"> {{ result }} </code>
</ion-fab>
</ion-content>
